 <style type="text/css">
        body{
            font-size: 18pt;
        }
        #pic {
            float: left;
        }

        #text {
            margin-left: 110px;
        }
    </style>